.iframe{ 
    height: 100vh;
    margin: 0;
    
    
}
.iframe__text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888888;
    background: #eee;
}
    
    
