@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: #f8fafe;
}

/* РЎontainer */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .container {
        max-width: 1024px;
        padding: 0 15px;
    }
}

/* breadcrumbs__link */
.breadcrumbs__link {
    cursor: pointer;
    color: #018ad2;
    text-decoration: none;
}

#radio .breadcrumbs__link:active {
    color: #A93A09;
}

.breadcrumbs__link:hover {
    color: #f36223;
}

/* Product */
.product__color {
    display: flex;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    background: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.product__color:active {
    border: 2px solid #A93A09;
}

.product__image {
    display: inline-block;
    height: 60px;
}

.product__color:hover {
    background-color: #e7e7e7;
}

.btn_selected {
    border: 2px solid #ff5722;
}

/* Utilities */
.orange {
    color: #ff5722;
}

.gray {
    color: #888888;
}

/* Blocks */
.market-name {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 44px;
    font-weight: 700;
    padding: 12px 0;
    z-index: 100;
    background: #f2f2f2;
    border-bottom: 1px solid #cdcdcd;
}

.market-name__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.line-login{
    display: flex;
    align-items: baseline;
}
.line{
    display: flex;
    margin-left: 10px;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333;
    background: #ddd;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}

.icon-button:hover {
    cursor: pointer;
    background: #ccc;
}

.icon-button:active {
    background: rgba(161, 159, 159, 0.959);
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: #05FF00;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
}

/* Навигация */
.breadcrumbs {
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 8px;
}

/* Rating */
.rating__img {
    height: 30px;
    width: 30px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .rating__img {
        height: 20px;
        width: 20px;
    }
}

/* Product */
.product__name {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.product__photos {
    margin-bottom: 30px;
}

.product__photo {
    height: 387px;
    width: auto;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .product__photo {
        height: 272px;
    }
}

.product__body {
    display: flex;
    gap: 100px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .product__body {
        gap: 40px;
    }
}

.product__main {
    width: 60%;
}

.product__subtitle,
.reviews-form__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.product__pictures {
    display: flex;
    gap: 10px;
}

.product__memory-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

button {
    border: #a1a1a1 solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .product__comparison {
        display: none;
    }
}

.product__sidebar {
    display: flex;
    flex-direction: column;
    width: 420px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .product__sidebar {
        width: 360px;
    }
}

.product__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    height: auto;
}

.product__property {
    margin-bottom: 30px;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #f36223;
}

li::before {
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: -7px;
    line-height: 1px;
}

.product__characteristics li {
    margin-bottom: 10px;
    list-style: none;
}

#radio:active {
    color: #A93A09;
}

#ten .link:active {
    color: #A93A09;
}

#ten .footer__list:active {
    color: #A93A09;
}

.product__description {
    margin-bottom: 30px;
}

.product__description p {
    margin-top: 15px;
}

/* Reviews */
.reviews__button {
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.reviews__box-wrapped {
    display: flex;
    gap: 10px;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.reviews__info {
    margin-bottom: 30px;
}

.reviews__item {
    display: flex;
    gap: 30px;
}


/* Review */
.review__comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.review__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 10px;
}

.review__details p {
    margin: 0;
}

.review__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .review__photo {
        width: 100px;
        height: 100px;
    }
}


.review__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.reviews__separator {
    width: 730px;
    border-bottom: 1px dashed #888888;
    margin-left: 170px;
    box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .reviews__separator {
        width: 465px;
        margin-left: 130px;
    }
}

/* Price */
.price {
    padding: 20px;
}

.price__group {
    display: flex;
    flex-direction: column;
}

.price__main {
    text-decoration: line-through;
    color: #a1a1a1;
}

.price__percent-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 500px;
    background-color: #f36223;
    margin-left: 10px;
    margin-right: auto;
}

.btn-like {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
}

.btn-like:hover>.btn-like__icon {
    fill: #C71585;
}

.btn-like:active>.btn-like__icon {
    fill: #D2691E;

}

.price__percent {
    color: white;
    text-decoration: none;
    font-size: 18px;
    flex: 0 0 15px;
}

.price__discount {
    display: flex;
    justify-content: flex-start;
}
.btn_main::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24' fill='white'><path d='M2.30078 2.83923H5.80343H6.62323L6.78401 3.61096L7.24134 5.80618H20.8442H22.0246L21.8306 6.924L20.8004 12.8579L20.6611 13.66H19.814H8.87757L9.30172 15.696H19.814V17.616H8.48191H7.66211L7.50133 16.8443L5.44095 6.95445L6.42154 6.76618L5.44095 6.95445L4.98362 4.75923H2.30078V2.83923ZM7.64134 7.72618L8.47757 11.74H18.9669L19.6637 7.72618H7.64134ZM11.1769 20.0054C11.1769 20.8889 10.4327 21.6034 9.51229 21.6034C8.59185 21.6034 7.84766 20.8889 7.84766 20.0054C7.84766 19.1218 8.59185 18.4261 9.51229 18.4261C10.4327 18.4261 11.1769 19.1218 11.1769 20.0054ZM17.7545 21.6034C18.6749 21.6034 19.4191 20.8889 19.4191 20.0054C19.4191 19.1218 18.6749 18.4261 17.7545 18.4261C16.834 18.4261 16.0898 19.1218 16.0898 20.0054C16.0898 20.8889 16.834 21.6034 17.7545 21.6034Z' /></svg>");
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

.price__sum {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.price__comment {
    margin-top: 15px;
    margin-bottom: 35px;
}

.price__comment p:not(:last-of-type) {
    margin-bottom: 10px;
}

.product__button {
    border: 1px solid #888888;
    border-radius: 4px;
    background: #ffffff;
    padding: 10px 20px;
    box-sizing: border-box;
}

.product__button:active {
    border: 2px solid #A93A09;
}

.product__button:hover {
    background: #e7e7e7;
}

.product__button_selected {
    border: 2px solid #ff5722;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f36223;
    color: white;
    border: none;
    font-size: 20px;
    padding: 20px 49px;
    line-height: 24px; 
}

.btn_main:hover {
    background: #da4a0c;   
}

#send:active {
    background: #A93A09;
}

#add:active {
    background: #A93A09;
}

#wiki:active {
    color: #A93A09;
}

.separator {
    width: 880px;
    height: 1px;
}

.ads {
    border: 1px dashed #ccc;
    height: 300px;
    width: 100%;
}

.advertisement__iframes {
    margin-top: 10px;
}

.advertisement__iframes iframe {
    margin-bottom: 15px;
}

.model-comparison {
    width: 876px;
    height: 190px;
    border: 1px solid #888888;
    margin-top: 20px;
    margin-bottom: 60px;
}

.model-comparison__head th {
    text-align: center;
    border: 1px solid #888888;
    padding: 10px;
    white-space: nowrap;
}

.model-comparison__body tr td {
    text-align: center;
    border-right: 1px solid #888888;
    padding: 10px;
    white-space: nowrap;
}

.model-comparison__head,
.model-comparison {
    border-collapse: collapse;
}

.model-comparison__body tr:hover {
    background: #f2f2f2;
}

/* Reviews form */
.reviews-form {
    padding: 0px 0px 0px 170px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .reviews-form {
        padding: 0;
    }
}

.reviews-form__field {
    border: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reviews-form__fieldset {
    display: flex;
    justify-content: space-between;
    resize: none;
}

.review-form__name {
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 64%;
    resize: none;
    font-weight: 500;
    font-size: 16px;
}

/* Hovers */
.form-hover-focus:hover {
    border: 1px solid #f36223;
}

.form-hover-focus:focus {
    outline: 1px solid #f36223;
}

.review-form__name::placeholder {
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}

.review-form__stars {
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 18%;
    resize: none;
    font-weight: 500;
    font-size: 16px;
}

.review-form__stars::placeholder {
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}

.review-form__text {
    height: 190px;
    border: 1px solid #888888;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    resize: none;
}

.review-form__text::placeholder {
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}

.reviews-form__submit {
    box-sizing: border-box;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    width: 177px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.reviews-form__submit:hover {
    background: #DA4A0C;
}

/* Footer */
.footer {
    background-color: #F2F2F2;
    padding: 30px 50px;
    margin-top: 60px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .footer {
        margin-top: 100px;
        padding: 30px 15px;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list {
    color: #018ad2;
    text-decoration: none;
}

.footer__list:hover {
    color: #f36223;
}

/*Adaptive*/
/* @media (max-width: 1499px) {
  .market-name {
    padding: 0 15px;
  }

  .crumps {
    padding: 8px 15px;
  }

  .product__photos {
    height: 272px;
  }

  .product__properties {
    gap: 40px;
  }

  .review__photo {
    height: 100px;
  }

  .review-block__stars {
    height: 20px;
  }

  .reviews-form {
    width: 100%;
  }

  .reviews-form_padding {
    padding: 0;
  }

  .advertisement__title {
    width: 360px;
  }

  .table {
    display: none;
  }
} */
